<div class="main-content">
  <!--First Heading-->
  <div>
    <div> 
      <h2 class="content-title">{{firstHeading}}</h2>
    </div>
    <div class="content-box">
      <div class="content-project" *ngFor="let project of projectsData">
        <a class="project-list-links" href="{{project.sourceCodeLink}}" target="_blank" rel="noopener" matTooltip="Source Code">
          <mat-card class="card-link">
            <mat-card-header class="card-title">
              <div mat-card-avatar class="header-image"
                style="background-image: url({{project.avatarImage}})">
              </div>
              <mat-card-title>
                {{project.name }}
              </mat-card-title>
              <mat-card-subtitle>
                {{project.type}}
              </mat-card-subtitle>            
            </mat-card-header>
            
            <mat-divider></mat-divider>
            <mat-card-content class="card-description">
              {{project.description }} 
            </mat-card-content>
          </mat-card>
        </a>
      </div>
    </div>    
  </div>

  <!--Second Heading (Demos)-->
  <div>
    <div> 
      <h2 class="content-title">{{secondHeading}}</h2>
    </div>
    <div class="content-box">
      <div class="content-project" *ngFor="let demo of demoData">
        <a class="demo-list-links" href="{{demo.sourceCodeLink}}" matTooltip="Source Code" target="_blank" rel="noopener">
          <mat-card class="demo-card-link">
            <mat-card-header class="card-title">
              <div mat-card-avatar class="header-image"
                style="background-image: url({{demo.avatarImage}})">
              </div>
              <mat-card-title>
                {{demo.name }}
              </mat-card-title>
              <mat-card-subtitle>
                {{demo.type}}
              </mat-card-subtitle>            
            </mat-card-header>
            
            <mat-divider></mat-divider>
            <mat-card-content class="card-description">
              {{demo.description }} 
            </mat-card-content>
            <mat-divider></mat-divider>
          </mat-card>
        </a>
        <mat-card class="action-card">
            <a 
              mat-raised-button
              routerLink={{demo.route}} 
              color="primary"
              class="demo-source-code-link"
              >
              Example Demo
            </a>
        </mat-card>
      </div>
    </div>    
  </div>
  
</div>
